<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="ConsultEase"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.XBCAD7311"
        tools:targetApi="31">
        <activity android:name=".PaymentCancelActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="payment_cancel" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.xbcad7319.PaymentSuccessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment_success"
                    android:scheme="consultease" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.xbcad7319.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.xbcad7319.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.xbcad7319.AdminLogin"
            android:exported="false" />
        <activity
            android:name="com.example.xbcad7319.AdminRegister"
            android:exported="false" />
        <activity
            android:name="com.example.xbcad7319.Login"
            android:exported="false" />
        <activity
            android:name="com.example.xbcad7319.Register"
            android:exported="false" />
        <activity
            android:name="com.example.xbcad7319.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Add the new ServiceRequestActivity here -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>

</manifest>